{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{%  block body %}
    <h1>Welcome dans contact</h1>
    {# templates/task/new.html.twig #}
    {{ form(formContact) }}
{% endblock %}